@import './normalize.scss';

html {
  box-sizing: border-box;
  position: relative;
  font-family: Microsoft JhengHei, Microsoft JhengHei-Bold;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

p,
a,
iframe {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

@-webkit-keyframes install-button {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.9, 0.9, 0.9);
    transform: scale3d(0.9, 0.9, 0.9);
  }

  60% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05);
  }

  100% {
    opacity: 0.5;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@keyframes install-button {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.9, 0.9, 0.9);
    transform: scale3d(0.9, 0.9, 0.9);
  }

  60% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05);
  }

  100% {
    opacity: 0.5;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

// swiper
.swiper-pagination-bullet:only-child {
  display: inline-block !important;
}

.swiper-pagination-bullet {
  display: inline-block !important;
  background-color: #9aa4c2 !important;
  width: 12px;
  height: 3.5px;
}

.swiper-pagination {
  bottom: 2px !important;
}
