.container {
  position: relative;
  background-color: #fff;
  min-height: 812px;

  > .bg {
    width: 100%;
    min-height: 812px;
    top: 0;
  }
}

.content {
  height: 100%;
  padding-top: 60px;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;
}

.logo-header {
  width: 100%;
  height: 60px;
  text-align: center;

  > img {
    height: 55px;
    width: 150px;
  }
}

.title {
  color: #5e626d;
  font-size: 30px;
  font-weight: 700;
  margin-top: 12px;
  text-align: center;
}

.main-wrap {
  width: 100%;
  text-align: center;

  > img {
    width: 100%;
    height: 100%;
  }
}

.desc {
  color: #9ca3bf;
  font-size: 12px;
  font-weight: 400;
  line-height: 19px;
  margin: 20px auto;
  text-align: center;
  width: 100%;

  .time {
    color: #f70;
    white-space: nowrap;
  }
}

.service {
  bottom: 8%;
  color: #a6a9b2;
  font-size: 14px;
  font-weight: 400;
  position: absolute;
  text-align: center;
  width: 100%;

  #serviceBtn {
    color: #6aaaf5;
  }
}

.mail {
  color: #6aaaf5;
  padding: 8px 0;
  margin: unset;
}

.extraMsg {
  width: 80%;
  line-height: 19px;
  font-size: 12px;
  font-weight: 400;
  text-align: center;
  color: #9ca3bf;
  margin: 14px auto 0 auto;
}
