@import '../variable.scss';

:root {
  --main_button_color: #ca1723;
  --main_button_text_color: white;
  --main_text_color: #6c6e82;
  --popup_text: #6aaaf5;
  --status_text_color: #9ca3bf;
  --tip_text_color: #ad947c;
}
