@import '../variable.scss';

:root {
  --main_button_color: #000;
  --main_button_text_color: white;
  --main_text_color: #666666;
  --popup_text: #000;
  --status_text_color: #4e5159;
  --tip_text_color: #000;
}
